[Desktop Entry]
Version=0.1
Name=AmiKo
GenericName=AmiKo
X-GNOME-FullName=AmiKo
Comment=Medicine database
Keywords=Swiss;drugs;prescription;
Exec=AmiKo
Terminal=false
Type=Application
Icon=AmiKo
#MimeType=application/octet-stream;
StartupNotify=true
Categories=Development;

