[Desktop Entry]
Version=0.1
Name=Comed
GenericName=Comed
X-GNOME-FullName=AmComediKo
Comment=Medicine database
Keywords=Swiss;drugs;prescription;
Exec=Comed
Terminal=false
Type=Application
Icon=Comed.png
MimeType=application/octet-stream;
StartupNotify=true
Categories=Development;