[Desktop Entry]
Version=0.1
Name=CoMed
GenericName=CoMed
X-GNOME-FullName=CoMed
Comment=Medicine database
Keywords=Swiss;drugs;prescription;
Exec=Comed
Terminal=false
Type=Application
Icon=CoMed
#MimeType=application/octet-stream;
StartupNotify=true
Categories=Development;
